@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=Roboto:wght@400;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

a {
    text-decoration: none;
    color: black;
}



.logo {
    position: absolute;
    width: 213px;
    height: 94px;
    left: 32px;
    top: 29px;



}

.acesso-informacao {
    position: absolute;
    width: 463px;
    height: 307px;
    left: 4px;
    top: 22px;

}

.titulo {
    position: absolute;
    width: 321px;
    height: 26px;
    left: 32px;
    top: 155px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 110%;
    /* or 26px */

    display: flex;
    align-items: center;
    letter-spacing: -0.025em;

    color: #2F2F2F;

}

.subtitulo {
    position: absolute;
    width: 700px;
    height: 31px;
    left: 32px;
    top: 203px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #505050;

}

.icons {
    width: 50px;
    height: 50px;

}

.wpp {
    /* position: absolute;
    width: 138px;
    height: 32px;
    left: 32px;
    top: 289px; */

    position: absolute;
    width: 138px;
    height: 32px;
    left: 32px;
    top: 270px;

}

.tel {

    position: absolute;
    width: 131px;
    height: 32px;
    left: 32px;
    top: 340px;

}

.mail {
    position: absolute;
    width: 312px;
    height: 32px;
    left: 32px;
    top: 410px;

}

.address {

    position: absolute;
    width: 463px;
    height: 48px;
    left: 32px;
    top: 480px;
}

.text-icons {
    position: absolute;
    top: 10px;
    margin-left: 5px;
    width: 153px;
    height: 32px;
}

.text-address{
    position: absolute;
    width: 450px;
    height: 48px;
    margin-left: 54px;
    top: 15px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: #505050;
    font-size: 14px;
}

.text-address-bold{
    position: absolute;
    width: 435px;
    height: 48px;
    margin-left: 5px;
    top: -2px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    
    color: #505050;
}